
    <footer id="footer">
        <div class="f-title">Contáctame</div>
        <form>
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="name">Nombre</label>
            <input type="nombre" class="form-control" id="name">
            </div>
            <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email">
            </div>
        </div>
       <div class="form-group">
           <label for="message" >Mensaje</label>
           <textarea class="form-control" rows="3" id="message"></textarea>
       </div>
        <button type="submit" id="btn-submit" class="but">Enviar</button>
    </form>


        <div class="social-media">
            <a href="https://github.com/carlosngv" target="blank">
                <i class="fa fa-github fa-3x"></i>
            </a>

            <a href="https://www.linkedin.com/in/carlosngv/" target="blank">
                <i class="fa fa-linkedin fa-3x"></i>
            </a>
            <a href="https://twitter.com/carlosngv" target="blank">
                <i class="fa fa-twitter fa-3x"></i>
            </a>
        </div>

        <p class="cp">© Copyright 2021 Carlos Ng</p>
    </footer>
